@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root 
{
    --body-copy: 20px;
    --title: 24px;
    --heading: 80px;
    --section: 48px;
}

body
{
    font-family: "EB Garamond", serif;
    font-size: var(--body-copy);
    line-height: 1.5;
    font-weight: 400;
    width: 75%;
    margin: auto;
    letter-spacing: 0.75px;
    padding-bottom: 3vh;
}

p
{
    margin-bottom: 3vh;
}

.hero
{
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
}

.left
{
    flex: 50%;
    margin-right: 10%;
}

.left h3
{
    margin-top: 3vh;
}

.right
{
    flex: 40%;
}

h1
{
    font-size: var(--heading);
    line-height: 1.5;
    font-weight: 500;
    font-style: italic;
}

h2
{
    font-size: var(--section);
    font-style: italic;
    font-weight: 500;
    line-height: 1.5;
}

h3
{
    font-size: var(--title);
    font-weight: 500;
}

.right h3 {
    margin-bottom: 1.5vh;
}

.line
{
    border-bottom: 1.5px solid black;
    margin-top: 5.5vh;
}

.about
{
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
}

a:hover
{
    color: blue;
}

.sessions 
{
    margin-top: 10vh;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: row;
}

.sessions h3
{
    margin-top: 1.5vh;
    font-weight: 400;
}

.footer p
{
    margin-top: 1.5vh;
}

ul
{
    margin-bottom: 1vh;
    list-style-type: disc;
    margin-left: 2vw;
}

.one, .two, .three, .four
{
    margin-bottom: 10vh;
}

.photo-grid 
{
position: relative;
width: 100%;
aspect-ratio: 1 / 1;
overflow: hidden;
}

.photo 
{
position: absolute;
background-size: cover;
background-position: center;
transition: all 0.5s ease;
opacity: 0;
transform: translate(-50%, -50%) rotateZ(0deg) translateZ(0px);
left: 50%;
top: 50%;
width: 80%;
height: 80%;
border: 10px solid #fff;
}