/*Font*/
@font-face {
font-family: 'Apple Garamond';
src: url('../assets/font/AppleGaramond.woff2') format('woff2'),
url('../assets/font/AppleGaramond.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Tabular';
src: url('../assets/font/Tabular-Regular.woff2') format('woff2'),
url('../assets/font/Tabular-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

:root 
{
--body-copy: 18px;
--title: 18px;
--heading: 15vw;
--section: 48px;
}

body
{
font-family: "Apple Garamond", serif;
font-size: var(--body-copy);
font-weight: normal;
line-height: 1.5;
width: 80%;
margin: auto;
letter-spacing: 0.75px;
}

a
{
font-family: 'Tabular', monospace;
}

p
{
margin-bottom: 3vh;
}

.hero
{
display: flex;
flex-direction: column;
margin-top: 10vh;
}

.hero p
{
margin-bottom: 3vh;
}

.right
{
margin-top: 5vh;
margin-bottom: 5vh;
}

h1
{
font-size: var(--heading);
font-weight: normal;
line-height: 0.9;
margin-bottom: 2vh;
}

h2
{
font-size: var(--section);
font-weight: normal;
line-height: 1;
margin-bottom: 1vh;
}

h3
{
font-size: var(--title);
font-weight: 400;
margin-bottom: 1vh;
}

.line
{
border-bottom: 1.5px solid black;
margin-top: 2vh;
}

.about1
{
display: flex;
flex-direction: column-reverse;
margin-top: 5vh;
}

.about
{
margin-top: 10vh;
}


.sessions 
{
margin-top: 5vh;
margin-bottom: 30vh;
display: flex;
flex-direction: column;
}

.sessions h3
{
margin-top: 1.5vh;
}

.footer p
{
margin-top: 1.5vh;
}

ul
{
margin-bottom: 1vh;
list-style-type: disc;
margin-left: 2vw;
}

.one, .two, .three, .four
{
margin-bottom: 10vh;
}

.one h3, .two h3, .three h3, .four h3
{
font-family: 'Tabular', monospace;
text-transform: uppercase;
}

.bias, .assumption
{
display: flex;
flex-direction: column;
margin-top: 10vh;
margin-bottom: 10vh;
}

.assumption h3, .about h3
{
margin-top: 0vh;
}

.example1, .example2
{
display: flex;
flex-direction: column-reverse;
align-items: center;
}

img
{
border-radius: 5px;
margin-top: 1vh;
}

.example2
{
margin-top: 10vh;
}

.task
{
margin-top: 10vh;
margin-bottom: 10vh;
}

.task h3
{
margin-top: 5vh;
margin-bottom: 1.5vh;
}

@media screen and (min-width: 768px) 
{
body
{
width: 75%;
margin: auto;
padding: auto;
}

:root 
{
--small-text: 18px;
--body-copy: 24px;
--title: 24px;
--heading: 118px;
--section: 48px;
} 

.hero, .about, .sessions
{
flex-direction: row;
}

.left
{
flex: 50%;
margin-right: 10%;
}

.right
{
flex: 40%;
}

.hero a
{
    font-size: var(--small-text);
}

}